@font-face {
  font-family: "Exo2.0-Thin";
  font-weight: normal;
  src: url('../static/fonts/Exo2_0Thin.woff') format('woff'),
       url("../static/fonts/Exo2_0Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Trebuchet MS";
  font-weight: normal;
  src: url('../static/fonts/trebuc.woff') format('woff'),
       url("../static/fonts/trebuc.ttf") format("truetype");
}
@font-face {
  font-family: "Trebuchet MS";
  font-weight: bold;
  src: url('../static/fonts/trebucbd.woff') format('woff'),
       url("../static/fonts/trebucbd.ttf") format("truetype");
}
